<ng-container
  *ngIf="
    {
      user: user$ | async,
      userRole: userRole$ | async,
      activityCount: userActivityCount$ | async
    } as data;
    else loading
  "
>
  <ng-container *ngIf="!!data.user && data.activityCount && data.userRole">
    <div class="flex column gap-40">
      <div class="flex column gap-12 centered">
        <h1 class="centered">Hi, {{ data.user.name }}!</h1>
        <h4>Here you can check your statistics and update yor user details</h4>
      </div>
      <div class="flex row gap-40 user-page-content-container">
        <app-user-form class="flex-1" [user]="data.user"></app-user-form>
        <app-user-info
          class="flex-1"
          [userActivityCount]="data.activityCount"
          [userRole]="data.userRole"
        ></app-user-info>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="flex centered p-40">
    <mat-spinner diameter="32"></mat-spinner>
  </div>
</ng-template>
