<ng-container *ngIf="comments.length > 0">
  <div style="display: flex; flex-direction: column; gap: 2px">
    <ng-container *ngFor="let comment of comments">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>
              <span class="author">{{ comment.author.name }}</span> -
              <span class="comment">{{ comment.body }}</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="display: flex; flex-direction: column; gap: 8px">
          <ng-container *ngIf="comment.comments?.length">
            <app-comment-tree [comments]="comment.comments"></app-comment-tree>
          </ng-container>
          <input type="text" class="nice-input" />
        </div>
      </mat-expansion-panel>
    </ng-container>
  </div>
</ng-container>
