.author-self {
  color: coral;
}

.author-different {
  color: lightslategray;
}
.comment-self {
  color: cadetblue;
}
.comment-removed {
  text-decoration-line: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}
// input.nice-input {
//   margin-top: 8px;
// }
