<div style="display: flex; flex-direction: column; gap: 4px">
  <ng-container *ngFor="let topic of topics">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          ><span class="topic-title">{{ topic.title }}</span></mat-panel-title
        >
        <span class="author-name" style="margin-right: 16px">
          by {{ topic.author.name }}</span
        >
      </mat-expansion-panel-header>
      <div class="flex column gap-16 pt-2">
        <ng-container *ngIf="topic.comments?.length">
          <app-comment-tree
            [comments]="topic.comments"
            [topicId]="topic.id"
            (commentSent)="commentSent.emit()"
          ></app-comment-tree>
        </ng-container>
        <app-leave-comment
          [originalAuthor]="topic.author"
          (commentEmmitted)="handleSendComment(topic.id, $event)"
        ></app-leave-comment>
      </div>
    </mat-expansion-panel>
  </ng-container>
</div>
