<section class="header-actions">
  <p *ngIf="currentUser$ | async as user">
    Hi,
    <span
      (click)="navigateToUserPage(user)"
      class="user-name"
      matTooltip="Go to user page"
    >
      {{ user.name }}
    </span>
  </p>
  <mat-icon
    class="user-selector"
    [mat-menu-trigger-for]="menu"
    matTooltip="Select user"
  >
    person
  </mat-icon>
</section>

<mat-menu #menu="matMenu">
  <ng-container *ngIf="users$ | async as users">
    <ng-container *ngFor="let user of users">
      <button (click)="setUser(user)" mat-menu-item>
        <mat-icon>person_outline</mat-icon>
        <span>{{ user.name }} ({{ user.role }})</span>
      </button>
    </ng-container></ng-container
  >
</mat-menu>
