<section *ngIf="currentUser$ | async as user" class="header-actions">
  <p>
    Hi,
    <span
      [mat-menu-trigger-for]="menu"
      class="user-name"
      matTooltip="Select user"
    >
      {{ user.name }}
    </span>
  </p>
  <mat-icon routerLink="/user" class="user-icon" matTooltip="Go to user page">
    person
  </mat-icon>
  <mat-icon
    *ngIf="user.role === roleIdEnum.ADMIN"
    class="user-icon"
    routerLink="/admin"
    matTooltip="Go to admin page"
    >admin_panel_settings</mat-icon
  >
</section>

<mat-menu #menu="matMenu">
  <ng-container *ngIf="users$ | async as users">
    <ng-container *ngFor="let user of users">
      <button (click)="setUser(user)" mat-menu-item>
        <mat-icon>person_outline</mat-icon>
        <span>{{ user.name }}</span>
      </button>
    </ng-container>
  </ng-container>
</mat-menu>
