@import "generated-classes.scss";
html,
body {
  height: 100%;
}
body {
  margin: 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.nice-input {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  &:focus-visible {
    // border: none;
    outline: 2px solid cadetblue;
  }
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.subdued-button {
  background-color: whitesmoke;
  color: black;

  &:hover {
    background-color: darken(whitesmoke, 4%);
  }
  &:active {
    background-color: darken(whitesmoke, 2%);
  }
}

.basic-button {
  background-color: cadetblue;
  color: white;
  &:hover {
    background-color: lighten(cadetblue, 2%);
  }

  &:active {
    background-color: darken(cadetblue, 2%);
  }
}

.dialog-wrapper {
  width: 600px;
  max-width: 80%;
}

mat-expansion-panel-header,
.mat-expansion-panel-body {
  padding-inline: 16px !important;
}

mat-expansion-panel-header.mat-expanded {
  height: 48px !important;
  margin-bottom: 2px !important;
}

.action {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
