<div class="home-container">
  <section class="intro-section">
    <h1>Welcome to the Forum, dear {{ (currentUser$ | async)?.name }}!</h1>
    <h4>Here you can take part in the most interesting discussions</h4>
  </section>
  <section class="topics-section">
    <ng-container *ngIf="topics; else loading">
      <app-topic-list
        *ngIf="topics.length; else empty"
        [topics]="topics"
        (topicModified)="initTopics(); showModificationSnackBar()"
      ></app-topic-list>
    </ng-container>
  </section>
  <app-create-topic
    (topicSent)="initTopics(); showModificationSnackBar()"
  ></app-create-topic>
</div>

<ng-template #loading>
  <div class="flex column centered p-40">
    <mat-spinner [diameter]="32"></mat-spinner>
  </div>
</ng-template>

<ng-template #empty>
  <div class="flex column centered p-40">
    <p>There are no topics right now. Feel free to create one.</p>
  </div>
</ng-template>
